body {
  font-family: 'Roboto', Times, serif;
  background: linear-gradient(to right, #ffcc00, #ff9900);
  padding: 30px;
  text-align: center;
}

.role-container, .options {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.role-card, .options a, .category {
  display: block;
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin: 10px;
}

input, textarea, button {
  display: block;
  margin: 10px auto;
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

button {
  background: orange;
  border: 1px solid rgb(255, 174, 53);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.back-btn {
  background: white;
  color: orange;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}

.back-btn {
  display: inline-block;
  padding: 14px 22px;          /* makes it bigger */
  margin: 10px 8px;
  font-size: 16px;
  font-weight: 600;

  text-decoration: none;
  color: #fff;
  background-color: #2c3e50;

  border-radius: 8px;
  transition: all 0.2s ease;
}


.back-btn:hover {
  background-color: #ed7117;
  transform: translateY(-2px);
}


.back-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(44, 62, 80, 0.4);
}

